.loginBtn {
      padding: 10px;
      margin:2px;
}

.searchBar{
    width: 20em;
    height: 3em;
}

.searchBtn{
    padding: 10px;
    margin:2px;
}

.userName{
    text-decoration: none;
    color: black;
}
