.loginBtn {
      padding: 10px;
      margin:2px;
}
.loginBtn:hover {
    background-color: rgb(129, 229, 129);
    border-radius: 4px;
  }
/* .signupBtn{
  
    padding: 10px;
    margin:2px;
} */

.searchBar{
    width: 20em;
    height: 3em;
}

.searchBtn{
    padding: 10px;
    margin:2px;
}
.searchBtn:hover {
    background-color: rgb(129, 229, 129);
    border-radius: 4px;
  }
