
.linkRecipe{
     text-decoration: none;
     color: rgb(47, 31, 2);
     
}

.container{
    padding: 30px;
    text-align: justify;
    
}

.editBtn{
    display: flex;
    text-align: right;
}
.deleteBtn{
    text-align: right;
}



.cardContainer{
   
    display: flex;
   flex: space-between;
   padding: 20px;
   flex-direction: row;
   flex: wrap;
   
}


@media (max-width: 800px) {
    .cardContainer {
        display: flex;
      flex-direction: column;
      
    }
  }



